{block #content}

<h2 n:block="title">Nahrání nového obrázku</h2>

<p>Zvolíte jeden soubor s obrázkem, který chcete nahrát na web. Obrázek bude uložen (do k tomu určené veřejně přístupné složky) pod stejným jménem jako má vámi zvolený soubor. Pokud už pod stejným jeménem nějaký soubor uložen máme, nový se před uložením přejmenuje (přidáním čísla na konec jména) tak, aby jména nekolidovaly. Ve výběrovém seznamu zvolíte jakou chcete vytvořit miniaturu.</p>

{control addImage}
