{block content}

<h2 n:block="title">Úprava obsahu</h2>

{control selectSectionForm}

{ifset $id}

{control contentForm}

{snippet content section}
	{ifset $content}
		{!$content|texy}
	{else}
		<p>Zde se zobrazí náhled právě editované obsahové sekce.</p>
	{/ifset}
{/snippet}

{/ifset}
