{block #content}

<h2 n:block="title">Přidání novinky</h2>

{control newsForm}

{snippet content section}
	{ifset $content}
		{!$content|texy}
	{else}
		<p>Zde se zobrazí náhled právě přidávané novinky</p>
	{/ifset}
{/snippet}

<p class="info">Pokud chcete aby právě přidávaná novinka obsahovala i obrázky, musíte je napřed nahrát v <a n:href="multimedia:add">k tomu určené sekci multimedia</a></p>
