{block #content}

<h2 n:block="title">Nahrání nového obrázku</h2>

{control addImage}

<p class="info">Pro přidávání fotografií do fotogalerie, použíjte k tomu určenou sekci. Tato sekce slouží k nahrání obrázků mimo fotogalerii.</p>
