{var $robots => noindex}

{block #content}

<h2 n:block="title">Registrace uživatele</h2>

<p>Registrovat se můžete také <a href="{plink Auth:openid}">přihlášením k vašemu openID</a> účtu.</p>

{control registerForm}
