{block content}

<h2 n:block="title" class="hide">Vítejte</h2>

<ul n:inner-foreach="$siteContent as $item">
	<li n:ifset="$item->link" id="{$item->hash}">
		{if $item->link=='content'}
			{$item->content}
		{else}
			{control $item->link}
		{/if}
	</li>    
</ul>
