{block #content}

<h2 n:block="title">Editovat úvodní sekci</h2>

{control introductionForm}

{snippet content section}
	{ifset $content}
		{!$content|texy}
	{else}
		<p>Zde se zobrazí náhled právě editované stránky</p>
	{/ifset}
{/snippet}
