<!DOCTYPE HTML>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="ic - ic.czech@gmail.com">
		<link rel="made" href="ic.czech@gmail.com">
		<meta n:ifset="$robots" name="robots" content="{$robots}">
		<meta n:ifset="$settings->description" name="description" content="{$settings->description}">
		<link rel="profile" href="http://purl.org/uF/2008/03/">{* profile="http://purl.org/uF/2008/03/" značí specifikaci hodně druhů mikroformátů (včetně hCard), které nejsou ve stádiu návrhu, což je třeba hAtom: http://purl.org/uF/hAtom/0.1/ *}
		<link rel="profile" href="http://purl.org/uF/hAtom/0.1/">{* chtěli po mě vložit tohle do hlavičky <head profile="něco"> ale na mě si nepříjdou *}
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">{* ikonka mojeho webu *}
		<link rel="home" href="{$basePath}" title="úvodní stránka">{* odkaz na homepage *}
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link n:if="$presenter->getParam(Nette\Application\Presenter::FLASH_KEY)" rel="canonical" href="{link this, Nette\Application\Presenter::FLASH_KEY => NULL}">{* v případě existence flash identifikátoru v uri (?_fid=...) přidá odkaz na kanonickou adresu *}
		{control css 'screen.less'}
		<title>{block #title|striptags|trim}{/block} | {$settings->title}</title>
		{* @todo: vložit google analytics sem *}
	</head>
	<body>
		{* přidat varování... všechny daňové údaje musí být na webu *}
		<header>
			<h1><em>pm</em> studio</h1>
			<strong>výroba reklamy</strong>
		</header>

		<hr id="bg">

		<section>
		<nav id="menu"><strong class="hide">menu:</strong>{control menu}</nav>
			{include #content}
		</section>

		<hr class="show">

		<aside>
			<p>
			{snippet flashes span}
				<span n:foreach="$flashes as $flash" class="flash {$flash->type}" onclick="this.className='hide'">{$flash->message}</span><br>
			{/snippet}
			<span n:if="$settings->important">
				<strong>{$settings->important_title}</strong>
				<br>
				{$settings->important}
				<br><br>
			</span>
			<span n:if="$user->loggedIn">
				<strong>možnosti úprav</strong><br>
				<a n:href="menu:">upravit menu</a><br>
				<a n:href="news:add">napsat novinku</a><br>
				<a n:href="content:">upravit obsah obsahových sekcí</a><br>
				<a n:href="contact:edit">upravit kontakt</a><br>
				<a n:href="settings:">upravit nastavení webu</a><br>
			</span>
			</p>
		</aside>

		<hr>

		<footer>
			<p>patička | <a href="https://github.com/iiic/pm-studio">fork me on github</a> | multihosting <a href="http://ovh.cz">OVH</a></p>
		</footer>

		{control packedJs 'jquery.js', 'jquery.ajaxform.js', 'jquery.nette.js', 'netteForms.js', 'my.scripts.js'}
			<script>
				{ifset $_GET['lol']}
					// pěkná animace posunu pozadí objektu, ale náročná jak sviňa,
					//lepší by to teoreticky mělo být na Win7 s některým prohlížečem,
					//který podporuje hardwarovou akceleraci webu, ale tohle nemohu vyzkoušet.
					var scrollSpeed = 1; 		// Speed in milliseconds
					var step = 1; 				// How many pixels to move per step
					var current = 0;			// The current pixel row
					var imageHeight = 2247;		// Background image width
					var headerHeight = 1280;		// How wide the header is.
					//The pixel row where to start a new loop
					var restartPosition = -(imageHeight - headerHeight);
					function scrollBg(){
						//Go to next pixel row.
						current -= step;
						//If at the end of the image, then go to the top.
						if (current == restartPosition){
							current = 0;
						}
						//Set the CSS of the header.
						$('#bg').css("background-position","58% "+current+"px");
					}
					//Calls the scrolling function repeatedly
					var init = setInterval("scrollBg()", scrollSpeed);
				{/ifset}
				if($.browser.msie) {
					el = document.getElementsByTagName('ul')[0].children;
					for(var i = 0; i < el.length; i++) {
						el[i].lastChild.href = el[i].lastChild.getAttribute('data-rel-bookmark');
					}
				}
			</script>
	</body>
</html>
